
.divan {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.divan-title {
    font-weight: 700;
    line-height: 1;
    font-size: 1.4rem;
    padding-left: 10px;
    padding-top: 20px;
    margin-bottom: 50px;
}