
.badge {
    top: 5px;
    right: -5px;
    position: absolute;
    color: #fff;
}
.new,
.sale,
.hit {
    font-size: 0.9em;
    color: #fff;
    padding: 2px 7px;
    margin-bottom: 3px;
}
.new {
    background-color: #099925;
}
.sale {
    background-color: #f43c33;
}
.hit {
    background-color: #dd9933;
}